.page-info-wrapper {
	position: absolute;
	top: 100vh;
	left: 7rem;
	transform: translate(-50%, -100%);
}

.page-info-svg-wrapper {
	position: absolute;
	top: -400px;
}

.page-info-line-wrapper {
	position: absolute;
	left: 59px;
	top: -300px;
}

.page-info-line {
	width: 0;
	height: 300px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.page-info-text {
	position: absolute;
	bottom: 2rem;
	font-family: 'Poppins';
	font-size: 1rem;
	text-transform: uppercase;
	transform: rotate(-90deg) translate(0, -1.5rem);
	transform-origin: 0 0;
	white-space: nowrap;
}