.user-item {
	position: relative;
	padding-left: 1rem;
}

.user-item::before {
	position: absolute;
	content: '';
	left: 0;
	width: 1rem;
	height: 100%;
	background-color: #0dd;
}

.user-item-img-wrapper {
	background-color: #111;
	line-height: 0;
	margin-bottom: .5rem;
}

.user-item-img {
	width: 30vh;
	height: 15vh;
	object-fit: cover;
	opacity: 0.9;
}

.user-item-info {
	position: absolute;
	top: 0;
	left: calc(30vh + 1rem);
	padding: 1rem;
}

.user-item-info hr {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.user-item-name {
	text-transform: uppercase;
	font-size: 1.2rem;
	color: white;
	font-family: 'Poppins';
}