.oval-button {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 160px;
}

.oval-button-lottie {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 320px;
	width: 320px;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.oval-button-text {
	color: #303030;
	font-family: 'montserrat', 'Roboto';
	font-weight: 200;
	margin-top: 200px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}