.reset-button {
	position: relative;
	display: inline-block;
	height: 25px;
	width: 25px;
	background-color: #303030;
	border-radius: 50%;
	border-width: 0;
	color: white;
	cursor: pointer;
}

.reset-button-icon > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.75, 0.75);
}